* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --very-light-grey: hsl(0, 0%, 98%);
}
body {
    min-height: 100vh;
}
#content > * {
    padding: 2rem;
}
header {
    display: flex;
    justify-content: space-between;
    background: url(./assets/images/bg-mobile-light.jpg);
    background-size: cover;
    background-position: center;
    min-width: 375px;
    height: 200px;
    max-height: 200px;
}
h1 {
    color: var(--very-light-grey);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }